FORMAT: 1A
HOST: https://marketplace.matrix42.com/slim/api/v1/

# Matrix42 Marketplace Slim API v1

This API returns all Matrix42 Marketplace Products and Orders to be implemented against, in the Matrix42 Applications. 

# Product API Root [/products]

This route provides all products.

## View all Products [GET]

+ Response 200 (application/json)

        [
            {
                "id": 599,
                "title": "Dropbox for Business <span class=\"wgm-virtual-notice\">[Digital]</span>",
                "description": "Integration of Dropbox for Business in MyWorkspace.",
                "created_at": "2015-05-22 15:59:53",
                "updated_at": "2015-06-01 15:23:22",
                "type": "simple",
                "status": "publish",
                "permalink": "https://local.matrix42.com/product/dropbox-for-business/",
                "signup_fee": "300",
                "sku": "",
                "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/matrix42-ag/2015/05/glyph-vflK-Wlfk.png",
                "img_screenshots": [
                  "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/rating.png",
                  "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/erweiterestoerung.png",
                  "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/simplehistory.png",
                  "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/Servie-Desk-Webservice.png"
                ],
                "subscription_ids": [
                  "231",
                  "233"
                ],
                "categories": [
                  "<a href=\"https://local.matrix42.com/product-category/myworkspace/\" rel=\"tag\">MyWorkspace</a>",
                  "<a href=\"https://local.matrix42.com/product-category/service-management/\" rel=\"tag\">Service Management</a>",
                  "<a href=\"https://local.matrix42.com/product-category/packages/\" rel=\"tag\">Software Packages</a>"
                ],
                "downloads": {
                  "6713f15bc8abd858f7702c7d36e73e34": {
                    "name": "metadata-1.0.zip",
                    "file": "https://m42marketplacemediathek.blob.core.windows.net/matrix42-ag/2015/05/MyWorkspace-DropboxforBusiness-1.00.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=sPSo96vSfqGPfNi41qxSfhnP%2FTibIcLkh9QfmoxTPEY%3D&sv=2012-02-12"
                  }
                }
          },
          {
            "id": 370,
            "title": "WebClip <span class=\"wgm-virtual-notice\">[Digital]</span>",
            "description": "Integration of any Web page in MyWorkspace.",
            "created_at": "2015-05-16 23:11:17",
            "updated_at": "2015-05-16 23:11:17",
            "type": "simple",
            "status": "publish",
            "permalink": "https://local.matrix42.com/product/webclip/",
            "signup_fee": "0",
            "sku": "",
            "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/MyWorkspace-WebClip-1.0.png",
            "img_screenshots": [],
            "subscription_ids": [],
            "categories": [
              "<a href=\"https://local.matrix42.com/product-category/myworkspace/\" rel=\"tag\">MyWorkspace</a>"
            ],
            "downloads": {
              "8f85db619baf03509b402109e0b6e328": {
                "name": "metadata-1.1.zip",
                "file": "https://m42marketplacemediathek.blob.core.windows.net/mediathek/woocommerce_uploads/2015/05/MyWorkspace-WebClip-1.1.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=ARKgy5mxnB2%2BoRYAlu%2FmRUbrv07VetS8Jd6yl798Jbw%3D&sv=2012-02-12"
              },
              "98cedab272998ce284cd2378682369c4": {
                "name": "metadata-1.0.zip",
                "file": "https://m42marketplacemediathek.blob.core.windows.net/mediathek/woocommerce_uploads/2015/05/MyWorkspace-WebClip-1.0.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=Qd5QuUKUBF6Sw%2B%2BgeEmf4muRHY2rKH2h%2F7ErorxmzhA%3D&sv=2012-02-12"
              }
            }
          },
          {
            "id": 333,
            "title": "SugarCRM 7.X <span class=\"wgm-virtual-notice\">[Digital]</span>",
            "description": "Integration von SugarCRM 7.X in MyWorkspace.",
            "created_at": "2015-05-16 22:26:41",
            "updated_at": "2015-05-16 22:34:55",
            "type": "simple",
            "status": "publish",
            "permalink": "https://local.matrix42.com/product/sugarcrm-7-x/",
            "signup_fee": "0",
            "sku": "",
            "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/MyWorkspace-SugarCRM65.png",
            "img_screenshots": [],
            "subscription_ids": [],
            "categories": [
              "<a href=\"https://local.matrix42.com/product-category/myworkspace/\" rel=\"tag\">MyWorkspace</a>"
            ],
            "downloads": {
              "d4a0ca7ee4ec037dc9d128f2dc3defa8": {
                "name": "metadata-1.0.zip",
                "file": "https://m42marketplacemediathek.blob.core.windows.net/mediathek/woocommerce_uploads/2015/05/MyWorkspace-SugarCRM7X-1.01.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=S%2F8gGMXp0H5xDVd98SH4kOWyeOu3YFrtEwC1Ndb3yn0%3D&sv=2012-02-12"
              }
            }
          }
        ]

## Product [/products/{product_id}]

A Product has the following attributes:

+ id
+ title
+ description
+ created_date - An ISO8601 date when the product was created.
+ update_at - An ISO8601 date when the product was updated.
+ type - WooCommerce Product type. Simple, Simple Subscription
+ status
+ permalink
+ sku - unique bookkeeping identifier
+ signup_fee - The target price without a currency
+ img_featured - The featured image URL
+ img_screenshots - An array with all screenshots
+ subscription_ids - An array of all depending subscriptions
+ categories - An array of all categories
+ downloads - An array with all downloads

+ Parameters
    + product_id: 599 (required, number) - ID of the Product in form of an integer

### View a Product Detail [GET]

+ Response 200 (application/json)

        [
          {
            "id": 599,
            "title": "Dropbox for Business <span class=\"wgm-virtual-notice\">[Digital]</span>",
            "description": "Integration of Dropbox for Business in MyWorkspace.",
            "created_at": "2015-05-22 15:59:53",
            "updated_at": "2015-06-01 15:23:22",
            "type": "simple",
            "status": "publish",
            "permalink": "https://local.matrix42.com/product/dropbox-for-business/",
            "signup_fee": "300",
            "sku": "",
            "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/matrix42-ag/2015/05/glyph-vflK-Wlfk.png",
            "img_screenshots": [
              "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/rating.png",
              "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/erweiterestoerung.png",
              "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/simplehistory.png",
              "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/Servie-Desk-Webservice.png"
            ],
            "subscription_ids": [
              "231",
              "233"
            ],
            "categories": [
              "<a href=\"https://local.matrix42.com/product-category/myworkspace/\" rel=\"tag\">MyWorkspace</a>",
              "<a href=\"https://local.matrix42.com/product-category/service-management/\" rel=\"tag\">Service Management</a>",
              "<a href=\"https://local.matrix42.com/product-category/packages/\" rel=\"tag\">Software Packages</a>"
            ],
            "downloads": {
              "6713f15bc8abd858f7702c7d36e73e34": {
                "name": "metadata-1.0.zip",
                "file": "https://m42marketplacemediathek.blob.core.windows.net/matrix42-ag/2015/05/MyWorkspace-DropboxforBusiness-1.00.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=sPSo96vSfqGPfNi41qxSfhnP%2FTibIcLkh9QfmoxTPEY%3D&sv=2012-02-12"
              }
            }
          }
        ]

# Subscription API Root [/subscriptions]

This route provides all subscriptions.

## View all Subscriptions [GET]

+ Response 200 (application/json)

        [
            {
                "recurring_fee": "36",
                "recurring_interval": "1",
                "recurring_period": "year",
                "id": 233,
                "title": "MyWorkspace Gold <span class=\"wgm-virtual-notice\">[Digital]</span>",
                "description": "Matrix42 MyWorkspace sets a new and unique standard in delivering intuitive, secure and easy-to-manage user workspaces cost-effectively, and on any device. It’s a unified workspace portal that makes it easy to integrate Software-as-a-Service (SaaS) and web applications into your organization’s existing IT infrastructure (e.g. Active Directory-based). It’s also the only solution on the market that enables the management of access to applications, corporate documents, devices and user IDs from a single, secure web-based environment.\r\n\r\nAdds unique features to the Freemium Edition including device management and access to the Matrix42 App Catalog.\r\n\r\n&nbsp;\r\n<h4>App Catalog</h4>\r\nThe Matrix42 App Catalog is part of the Matrix42 Marketplace (DEV) and allows every MyWorkspace customer to download prepackaged applications provided by Matrix42 and its rapidly expanding partner ecosystem.\r\n\r\n&nbsp;\r\n<h4>Custom Login Page</h4>\r\nEvery customer gets access to a bespoke login page that features a rebranded user interface, customer-specific login options, and a custom URL within the customer’s corporate web domain.\r\n\r\n&nbsp;\r\n<h4>Device-independent Access to the Workspace</h4>\r\nUsers get intuitive interfaces and apps for their favorite smartphones and touch devices. There is no learning curve – they can start working productively within a familiar application environment immediately.\r\n\r\n&nbsp;\r\n<h4>Device Management</h4>\r\nThe Device Management Module enables devices to be managed easily from within the MyWorkspace portal, providing additional context when checking portal access methods, and allowing native clients to be added to multiple mobile platforms without additional integration work.\r\n\r\n&nbsp;\r\n<h4>Custom Branding</h4>\r\nMatrix42 integrates your corporate identity seamlessly into the MyWorkspace environment without any major reprogramming.",
                "created_at": "2015-05-16 17:35:02",
                "updated_at": "2015-05-16 17:35:02",
                "type": "subscription",
                "status": "publish",
                "permalink": "https://local.matrix42.com/product/myworkspace-gold/",
                "signup_fee": 0,
                "sku": "",
                "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/myworkspace_gold_bg.png",
                "img_screenshots": [],
                "subscription_ids": [],
                "categories": [
                  "<a href=\"https://local.matrix42.com/product-category/myworkspace/myworkspace-subscriptions/\" rel=\"tag\">MyWorkspace Subscriptions</a>"
                ],
                "downloads": []
              },
              {
                "recurring_fee": "72",
                "recurring_interval": "1",
                "recurring_period": "year",
                "id": 231,
                "title": "MyWorkspace Platinum <span class=\"wgm-virtual-notice\">[Digital]</span>",
                "description": "Matrix42 MyWorkspace sets a new and unique standard in delivering intuitive, secure and easy-to-manage user workspaces cost-effectively, and on any device. It’s a unified workspace portal that makes it easy to integrate Software-as-a-Service (SaaS) and web applications into your organization’s existing IT infrastructure (e.g. Active Directory-based). It’s also the only solution on the market that enables the management of access to applications, corporate documents, devices and user IDs from a single, secure web-based environment.\r\n\r\nAll the features of the Gold Edition, plus a range of advanced functionality including usage and cost reporting, and integration with Microsoft Azure and Office 365.\r\n\r\n<strong>Cloud Connector for Active Directory</strong>\r\n\r\nThe cloud connector allows seamless integration into existing Active Directory infrastructure without requiring complex and expensive additional infrastructure components. No changes to existing firewall or security setups are required.\r\n\r\n<strong>Federated Integration within Existing Infrastructure</strong>\r\n\r\nAllows the integration of existing Active Directory infrastructure based on the federated architecture approach Microsoft has implemented with its Active Directory Federation Services.\r\n\r\n&nbsp;\r\n<h4>Cost control for SaaS &amp; Web Applications</h4>\r\nMyWorkspace enables usage reporting for integrated SaaS or web applications, increasing cost transparency and making it easy to identify optimization potential.\r\n\r\n&nbsp;\r\n<h4>Reporting &amp; Dashboards</h4>\r\nThe reporting and analytics dashboard helps IT maintain control over your MyWorkspace environment by making it easy to capture, measure and visualize performance against all your most important SaaS and cloud KPIs e.g. login storms, top 10 used apps, application usage, inactive accounts, etc.\r\n\r\n&nbsp;\r\n<h4>Authorization for SaaS &amp; Web applications</h4>\r\nEnables management (create, update &amp; delete) of user accounts for all registered SaaS &amp; Web applications.\r\n\r\n&nbsp;\r\n<h4>Support for Azure Active Directory &amp; Office 365</h4>\r\nMicrosoft Office 365 is a leading cloud-based line of business application that has already been adopted by many organizations. Azure Active Directory helps the IT department manage the on-premise to cloud transformation, and MyWorkspace enables a seamless integration with multiple identity providers e.g. local Active Directory, Google Directory, etc.\r\n\r\n&nbsp;\r\n<h4>Adaptive Access to the Workspace</h4>\r\nAdaptive access control provides many different pieces of contextual information that verify if the end user should have access to the application, and which kind of client can be used, e.g. GPS, Carrier network, joined WiFi, jailbreak status of the device, etc.\r\n\r\n&nbsp;\r\n<h4>Data &amp; Event Aggregation</h4>\r\nMyWorkspace seamlessly integrates each customer’s corporate data and end user identities into the workspace environment. This ensures each user has access to the right data and applications at all times.\r\n\r\n&nbsp;\r\n<h4>Workspace Management License Compliance Integration</h4>\r\nLicense Compliance integration allows Matrix42 Workspace Management customers to build a broader foundation around license compliance rules, so that SaaS and web applications are included, in addition to traditional client-based applications or service-based licenses.\r\n\r\n&nbsp;\r\n<h4>Custom Branding</h4>\r\nMatrix42 integrates your corporate identity seamlessly into the MyWorkspace environment without any major reprogramming.",
                "created_at": "2015-05-16 17:30:43",
                "updated_at": "2015-05-16 17:32:25",
                "type": "subscription",
                "status": "publish",
                "permalink": "https://local.matrix42.com/product/myworkspace-platinum/",
                "signup_fee": 0,
                "sku": "",
                "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/myworkspace_platinum_bg.png",
                "img_screenshots": [],
                "subscription_ids": [],
                "categories": [
                  "<a href=\"https://local.matrix42.com/product-category/myworkspace/myworkspace-subscriptions/\" rel=\"tag\">MyWorkspace Subscriptions</a>"
                ],
                "downloads": []
              }
        ]

## Subscription [/subscriptions/{subscription_id}]

A Subscription has the following attributes:

+ recurring_fee - This is the fee that is being invoiced within the recurring period and interval
+ recurring_interval
+ recurring_period
+ id
+ title
+ description
+ created_date - An ISO8601 date when the product was created.
+ update_at - An ISO8601 date when the product was updated.
+ type - WooCommerce Product type. Simple, Simple Subscription
+ status
+ permalink
+ sku - unique bookkeeping identifier
+ signup_fee - The target price without a currency that is bein payed upfront
+ img_featured - The featured image URL
+ img_screenshots - An array with all screenshots
+ subscription_ids - An array of all depending subscriptions
+ categories - An array of all categories
+ downloads - An array with all downloads

+ Parameters
    + subscription_id: 231 (required, number) - ID of the Subscription in form of an integer

### View a Subscription Detail [GET]

+ Response 200 (application/json)

        [
          {
            "recurring_fee": "72",
            "recurring_interval": "1",
            "recurring_period": "year",
            "id": 231,
            "title": "MyWorkspace Platinum <span class=\"wgm-virtual-notice\">[Digital]</span>",
            "description": "Matrix42 MyWorkspace sets a new and unique standard in delivering intuitive, secure and easy-to-manage user workspaces cost-effectively, and on any device. It’s a unified workspace portal that makes it easy to integrate Software-as-a-Service (SaaS) and web applications into your organization’s existing IT infrastructure (e.g. Active Directory-based). It’s also the only solution on the market that enables the management of access to applications, corporate documents, devices and user IDs from a single, secure web-based environment.\r\n\r\nAll the features of the Gold Edition, plus a range of advanced functionality including usage and cost reporting, and integration with Microsoft Azure and Office 365.\r\n\r\n<strong>Cloud Connector for Active Directory</strong>\r\n\r\nThe cloud connector allows seamless integration into existing Active Directory infrastructure without requiring complex and expensive additional infrastructure components. No changes to existing firewall or security setups are required.\r\n\r\n<strong>Federated Integration within Existing Infrastructure</strong>\r\n\r\nAllows the integration of existing Active Directory infrastructure based on the federated architecture approach Microsoft has implemented with its Active Directory Federation Services.\r\n\r\n&nbsp;\r\n<h4>Cost control for SaaS &amp; Web Applications</h4>\r\nMyWorkspace enables usage reporting for integrated SaaS or web applications, increasing cost transparency and making it easy to identify optimization potential.\r\n\r\n&nbsp;\r\n<h4>Reporting &amp; Dashboards</h4>\r\nThe reporting and analytics dashboard helps IT maintain control over your MyWorkspace environment by making it easy to capture, measure and visualize performance against all your most important SaaS and cloud KPIs e.g. login storms, top 10 used apps, application usage, inactive accounts, etc.\r\n\r\n&nbsp;\r\n<h4>Authorization for SaaS &amp; Web applications</h4>\r\nEnables management (create, update &amp; delete) of user accounts for all registered SaaS &amp; Web applications.\r\n\r\n&nbsp;\r\n<h4>Support for Azure Active Directory &amp; Office 365</h4>\r\nMicrosoft Office 365 is a leading cloud-based line of business application that has already been adopted by many organizations. Azure Active Directory helps the IT department manage the on-premise to cloud transformation, and MyWorkspace enables a seamless integration with multiple identity providers e.g. local Active Directory, Google Directory, etc.\r\n\r\n&nbsp;\r\n<h4>Adaptive Access to the Workspace</h4>\r\nAdaptive access control provides many different pieces of contextual information that verify if the end user should have access to the application, and which kind of client can be used, e.g. GPS, Carrier network, joined WiFi, jailbreak status of the device, etc.\r\n\r\n&nbsp;\r\n<h4>Data &amp; Event Aggregation</h4>\r\nMyWorkspace seamlessly integrates each customer’s corporate data and end user identities into the workspace environment. This ensures each user has access to the right data and applications at all times.\r\n\r\n&nbsp;\r\n<h4>Workspace Management License Compliance Integration</h4>\r\nLicense Compliance integration allows Matrix42 Workspace Management customers to build a broader foundation around license compliance rules, so that SaaS and web applications are included, in addition to traditional client-based applications or service-based licenses.\r\n\r\n&nbsp;\r\n<h4>Custom Branding</h4>\r\nMatrix42 integrates your corporate identity seamlessly into the MyWorkspace environment without any major reprogramming.",
            "created_at": "2015-05-16 17:30:43",
            "updated_at": "2015-05-16 17:32:25",
            "type": "subscription",
            "status": "publish",
            "permalink": "https://marketplace-staging.matrix42.com/product/myworkspace-platinum/",
            "signup_fee": 0,
            "sku": "",
            "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/myworkspace_platinum_bg.png",
            "img_screenshots": [],
            "subscription_ids": [],
            "categories": [
              "<a href=\"https://marketplace-staging.matrix42.com/product-category/myworkspace/myworkspace-subscriptions/\" rel=\"tag\">MyWorkspace Subscriptions</a>"
            ],
            "downloads": []
          }
        ]