FORMAT: 1A
HOST: https://marketplace.matrix42.com/slim/api/v1/

# Matrix42 Marketplace Slim API v1

This API returns all Matrix42 Marketplace Products and Orders to be implemented against, in the Matrix42 Applications. 

# Product API Root [/products]

This route provides all products.

## View all Products [GET]

+ Response 200 (application/json)

        [
            {
                "id": 599,
                "title": "Dropbox for Business <span class=\"wgm-virtual-notice\">[Digital]</span>",
                "description": "Integration of Dropbox for Business in MyWorkspace.",
                "created_at": "2015-05-22 15:59:53",
                "updated_at": "2015-06-01 15:23:22",
                "type": "simple",
                "status": "publish",
                "permalink": "https://local.matrix42.com/product/dropbox-for-business/",
                "signup_fee": "300",
                "sku": "",
                "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/matrix42-ag/2015/05/glyph-vflK-Wlfk.png",
                "img_screenshots": [
                  "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/rating.png",
                  "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/erweiterestoerung.png",
                  "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/simplehistory.png",
                  "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/Servie-Desk-Webservice.png"
                ],
                "subscription_ids": [
                  "231",
                  "233"
                ],
                "categories": [
                  "<a href=\"https://local.matrix42.com/product-category/myworkspace/\" rel=\"tag\">MyWorkspace</a>",
                  "<a href=\"https://local.matrix42.com/product-category/service-management/\" rel=\"tag\">Service Management</a>",
                  "<a href=\"https://local.matrix42.com/product-category/packages/\" rel=\"tag\">Software Packages</a>"
                ],
                "downloads": {
                  "6713f15bc8abd858f7702c7d36e73e34": {
                    "name": "metadata-1.0.zip",
                    "file": "https://m42marketplacemediathek.blob.core.windows.net/matrix42-ag/2015/05/MyWorkspace-DropboxforBusiness-1.00.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=sPSo96vSfqGPfNi41qxSfhnP%2FTibIcLkh9QfmoxTPEY%3D&sv=2012-02-12"
                  }
                }
          },
          {
            "id": 370,
            "title": "WebClip <span class=\"wgm-virtual-notice\">[Digital]</span>",
            "description": "Integration of any Web page in MyWorkspace.",
            "created_at": "2015-05-16 23:11:17",
            "updated_at": "2015-05-16 23:11:17",
            "type": "simple",
            "status": "publish",
            "permalink": "https://local.matrix42.com/product/webclip/",
            "signup_fee": "0",
            "sku": "",
            "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/MyWorkspace-WebClip-1.0.png",
            "img_screenshots": [],
            "subscription_ids": [],
            "categories": [
              "<a href=\"https://local.matrix42.com/product-category/myworkspace/\" rel=\"tag\">MyWorkspace</a>"
            ],
            "downloads": {
              "8f85db619baf03509b402109e0b6e328": {
                "name": "metadata-1.1.zip",
                "file": "https://m42marketplacemediathek.blob.core.windows.net/mediathek/woocommerce_uploads/2015/05/MyWorkspace-WebClip-1.1.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=ARKgy5mxnB2%2BoRYAlu%2FmRUbrv07VetS8Jd6yl798Jbw%3D&sv=2012-02-12"
              },
              "98cedab272998ce284cd2378682369c4": {
                "name": "metadata-1.0.zip",
                "file": "https://m42marketplacemediathek.blob.core.windows.net/mediathek/woocommerce_uploads/2015/05/MyWorkspace-WebClip-1.0.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=Qd5QuUKUBF6Sw%2B%2BgeEmf4muRHY2rKH2h%2F7ErorxmzhA%3D&sv=2012-02-12"
              }
            }
          },
          {
            "id": 333,
            "title": "SugarCRM 7.X <span class=\"wgm-virtual-notice\">[Digital]</span>",
            "description": "Integration von SugarCRM 7.X in MyWorkspace.",
            "created_at": "2015-05-16 22:26:41",
            "updated_at": "2015-05-16 22:34:55",
            "type": "simple",
            "status": "publish",
            "permalink": "https://local.matrix42.com/product/sugarcrm-7-x/",
            "signup_fee": "0",
            "sku": "",
            "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/MyWorkspace-SugarCRM65.png",
            "img_screenshots": [],
            "subscription_ids": [],
            "categories": [
              "<a href=\"https://local.matrix42.com/product-category/myworkspace/\" rel=\"tag\">MyWorkspace</a>"
            ],
            "downloads": {
              "d4a0ca7ee4ec037dc9d128f2dc3defa8": {
                "name": "metadata-1.0.zip",
                "file": "https://m42marketplacemediathek.blob.core.windows.net/mediathek/woocommerce_uploads/2015/05/MyWorkspace-SugarCRM7X-1.01.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=S%2F8gGMXp0H5xDVd98SH4kOWyeOu3YFrtEwC1Ndb3yn0%3D&sv=2012-02-12"
              }
            }
          }
        ]

## Product [/products/{product_id}]

A Product has the following attributes:

+ id
+ title
+ description
+ created_date - An ISO8601 date when the product was created.
+ update_at - An ISO8601 date when the product was updated.
+ type - WooCommerce Product type. Simple, Simple Subscription
+ status
+ permalink
+ sku - unique bookkeeping identifier
+ signup_fee - The target price without a currency
+ img_featured - The featured image URL
+ img_screenshots - An array with all screenshots
+ subscription_ids - An array of all depending subscriptions
+ categories - An array of all categories
+ downloads - An array with all downloads

+ Parameters
    + product_id: 1 (required, number) - ID of the Product in form of an integer

### View a Product Detail [GET]

+ Response 200 (application/json)

        [
          {
            "id": 599,
            "title": "Dropbox for Business <span class=\"wgm-virtual-notice\">[Digital]</span>",
            "description": "Integration of Dropbox for Business in MyWorkspace.",
            "created_at": "2015-05-22 15:59:53",
            "updated_at": "2015-06-01 15:23:22",
            "type": "simple",
            "status": "publish",
            "permalink": "https://local.matrix42.com/product/dropbox-for-business/",
            "signup_fee": "300",
            "sku": "",
            "img_featured": "http://m42marketplacemediathek.blob.core.windows.net/matrix42-ag/2015/05/glyph-vflK-Wlfk.png",
            "img_screenshots": [
              "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/rating.png",
              "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/erweiterestoerung.png",
              "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/simplehistory.png",
              "http://m42marketplacemediathek.blob.core.windows.net/mediathek/2015/05/Servie-Desk-Webservice.png"
            ],
            "subscription_ids": [
              "231",
              "233"
            ],
            "categories": [
              "<a href=\"https://local.matrix42.com/product-category/myworkspace/\" rel=\"tag\">MyWorkspace</a>",
              "<a href=\"https://local.matrix42.com/product-category/service-management/\" rel=\"tag\">Service Management</a>",
              "<a href=\"https://local.matrix42.com/product-category/packages/\" rel=\"tag\">Software Packages</a>"
            ],
            "downloads": {
              "6713f15bc8abd858f7702c7d36e73e34": {
                "name": "metadata-1.0.zip",
                "file": "https://m42marketplacemediathek.blob.core.windows.net/matrix42-ag/2015/05/MyWorkspace-DropboxforBusiness-1.00.zip?st=2015-06-01T13%3A34Z&se=2015-06-02T01%3A49Z&sr=b&sp=r&sig=sPSo96vSfqGPfNi41qxSfhnP%2FTibIcLkh9QfmoxTPEY%3D&sv=2012-02-12"
              }
            }
          }
        ]
